<div id="footer">
	
	<div id="footer-content">
		
        <div class="copyright clearfix">

        <p>
        {% for link in linklists.footer.links %}

          {{ link.title | link_to: link.url }} <span style="color:gray; padding:0 5px">|</span>{% endfor %} 

          Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.

          {% if settings.include_shopifylink %}{{ powered_by_link }}{% endif %}
        </p>

      </div><!-- .clearfix -->

		
		{% if settings.enable_creditcards %}
    <ul class="credit-cards">
      {% if settings.show_visa %}
      <li>{{ 'icon-visa.png' | asset_url | img_tag }}</li>
      {% endif %}

      {% if settings.show_paypal %}
      <li>{{ 'icon-paypal.png' | asset_url | img_tag }}</li>
      {% endif %}

      {% if settings.show_discover %}
      <li>{{ 'icon-discover.png' | asset_url | img_tag }}</li>
      {% endif %}

      {% if settings.show_mastercard %}
      <li>{{ 'icon-mastercard.png' | asset_url | img_tag }}</li>
      {% endif %}

      {% if settings.show_amex %}
      <li>{{ 'icon-ae.png' | asset_url | img_tag }}</li>
      {% endif %}
    </ul>
    {% endif %}
	</div>
	
</div>
