<div class="header">
	
	<div class="content-inner">
	
		<h1><a href="/">{{ shop.name }}</a></h1>
	
		<ul class="navigation">
			{% for link in linklists.main-menu.links %}
				{% if link.active %}
					<li class="selected"><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% else %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	
		<div class="cart">
			<p>
				Cart: <span class="toolbar-cart-count">
				<a href="/cart">
					{% if cart.item_count > 0 %}
		      	{{ cart.item_count}} {{ cart.item_count | pluralize: 'item', 'items' }}
		    	{% else %}
		      	0 items
		    	{% endif %}
				</a></span>
			</p>
			{% if cart.item_count > 0 %}
				<p><a href="/checkout">Checkout</a></p>
			{% endif %}
		</div>
		
	</div>
	
</div>