<!DOCTYPE html>
<html>

	<head>
		
		<title>{{ shop.name }} &mdash; {{ page_title }}</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		{{ 'stylesheet.css' | asset_url | stylesheet_tag }}
		
		<!-- Fonts -->
		<link rel="stylesheet" href="http://f.fontdeck.com/s/css/Y5LISEPuN4lJJ61tmeb14UEx/oY/saphora.myshopify.com/16865.css" type="text/css" />
		<script type="text/javascript" src="http://use.typekit.com/pfg4wpi.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ 'saphora.js' | asset_url }}"></script>

		{{ content_for_header }}

	</head>

	<body>

		{% include 'header' %}

		{% if template == "index" %}
		
			{{ content_for_layout }}
			
		{% endif %}

		{% if template != "index" %}
		
			{% if template == 'list-collections' %}
				{% include 'collection-listing' %}
			{% else %}
				{{ content_for_layout }}
			{% endif %}
				
		{% endif %}	

		{% include 'footer' %}

	</body>
	
</html>