<div class="page cart">
	
	<div class="content-inner">

		<h2>My Cart</h2>
		
		{% if cart.item_count > 0 %}
		
			<form action="/cart" method="post" name="cartform">
					
				<table cellpadding="0" cellspacing="0">
					<tr>
						<th colspan="2" class="start">&nbsp;</th>
						<th class="price">Price</th>
						<th class="quantity">Quantity</th>
						<th class="remove">Remove</th>
						<th class="total">Total</th>
					</tr>
					{% for item in cart.items %}
						<tr class="{% cycle "odd", "even" %}">
							<td class="pic">
								<div><a href="{{ item.product.url | within: collections.all }}"><img src="{{ item.product.images[0] | product_img_url: "thumb" }}" alt="{{ item.title | escape }}" /></a></div>
							</td>
							<td class="title">
								<h3 class="title"><a href="{{ item.product.url | within: collections.all }}">{{ item.title | escape }}</a></h3>
							</td>
							<td class="price">{{ item.price | money }}</td>
							<td class="quantity"><input type="text" class="field" name="updates[{{ item.id }}]" id="updates_{{ item.id }}" value="{{ item.quantity }}" /></td>
							<td class="remove"><a href="/cart/change/{{ item.variant.id }}?quantity=0">Remove</a></td>
							<td class="total">{{ item.line_price | money }}</td>
						</tr>
					{% endfor %}
					<tr class="total">
						<td colspan="3" class="padding-row">&nbsp;</td>
						<td class="quantity">
							<input type="submit" class="large button secondary" alt="Update" name="update" class="update" value="Update" />
						</td>
						<td class="grand-total-label">Grand total:</td>
						<td class="grand-total">{{ cart.total_price | money }}</td>
					</tr>
				</table>
	
				<div class="complete">
					{% if settings.notes %}
		    		<div class="notes">
		    			<label for="note">Tell us about any special instructions:</label>
		    			<textarea name="note" id="note" rows="" cols="">{{ cart.note }}</textarea>
		    		</div>
		    	{% endif %}
		
					<div class="checkout">
						<input type="submit" class="large button main" alt="Checkout" name="checkout" value="Checkout"/>
						<div class="additional-checkout-buttons">
							{% if additional_checkout_buttons %}
								{{ content_for_additional_checkout_buttons | google_button_options: 'transparent' }}
							{% endif %}
						</div>
					</div>
		
				</div>
	
			</form>			

		{% else %}
		
			<p id="empty">Your shopping cart is empty. <a href="/collections/all">Continue shopping...</a></p>
			
		{% endif %}	
	
	</div>
	
</div>