<div id="content" class="collection">
	
	<div class="content-inner">

		<h2><a href="/">Gear</a> &rarr; {{ collection.title }}</h2>
		
		{% if collection.description %}
			<p class="collection-description">{{ collection.description }}</p>
		{% endif %}
		
		{% if collection.products.size == 0 %}
		
			<p class="collection-empty">No products found in this collection.</p>
			
		{% else %}		

			<ul class="product-collection">		
			  {% for product in collection.products %}
			    <li>
						<a href="{{ product.url }}" class="product-image">
							<img src="{{ product.images.first | product_img_url: 'medium' }}" width="220px" alt="{{ product.title | escape }}" />
						</a>
						<div class="product-details">
							<h3 class="product-name"><a href="{{ product.url }}">{{ product.title }}</a></h3>
							<p class="product-description">{{ product.description | strip_html | truncate: 90, ' [...]' }} <a href="{{ product.url }}">More details &rarr;</a></p>
							<p class="product-price">${{ product.price | money_without_currency }}</p>
							<!--<p class="product-add"><a href="#">Add to Cart</a></p>-->
						</div>
					</li>
			  {% endfor %}
			</ul>
			
		{% endif %}	
	
	</div>
	
</div>