{% include 'banner' %}

<div id="content">
	
	<div class="content-inner">
		
		<ul class="product-collection">		
		  {% for product in collections.all.products %}
		    <li>
					<a href="{{ product.url }}" class="product-image">
						<img src="{{ product.images.first | product_img_url: 'medium' }}" width="220px" alt="{{ product.title | escape }}" />
					</a>
					<div class="product-details">
						<h2 class="product-name"><a href="{{ product.url }}">{{ product.title }}</a></h2>
						<p class="product-description">{{ product.description | strip_html }} <a href="{{ product.url }}">More details &rarr;</a></p>
						<p class="product-price">${{ product.price | money_without_currency }}</p>
						<p class="product-add"><a href="#">Add to Cart</a></p> 
					</div>
				</li>
		  {% endfor %}
		</ul>
	
	</div>
	
</div>
<!--end content-wrapper-->


