<div class="product-page">
	
	<div class="content-inner">
		
		<div class="product-photos"> 
			{% for image in product.images %}
				{% if forloop.first %}
			    <div class="main">
			    	<a href="{{ image | product_img_url: 'original' }}" ><img src="{{ image | product_img_url: 'large' }}" width="480" /></a>
			    </div>
					<ul>
		    {% else %}
						<li><a href="{{ image | product_img_url: 'original' }}"><img src="{{ image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" /></a></li>
		    {% endif %}
	    {% endfor %} 
			</ul>
		</div>
			
		<div class="product-content">
			
				<h2>{{ product.title | escape }}</h2>
				
				<div class="description">
					<p>{{ product.description }}</p>
				</div>
				
				<div class="stock-levels">
					<h3>Stock levels</h3>
					<table border="0" cellspacing="0" cellpadding="0">
						{% for variant in product.variants %}
							<tr>
								<td class="stock-title">{{ variant.title }}</td>
								<td class="stock-quantity">
									{% if variant.inventory_quantity == 1 %}
										One left!
									{% elsif variant.inventory_quantity < 5 %}
										Low
									{% elsif variant.inventory_quantity < 10 %}
										Good
									{% elsif variant.inventory_quantity >= 10 %}
										Heaps
									{% endif %}	
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
				
				<form action="/cart/add" method="post" class="add-to-cart">
				
					<div class="options">
						
						<p>
								<label for="size">Size: </label>
								<select name="id" id="size">
									{% for variant in product.variants %}
										{{ variant.id }}
										<option value="{{ variant.id }}">{{ variant.title }}</option>
									{% endfor %}
								</select> 
								<label for="quantity">Quantity: </label>
								<select name="quantity" id="quantity">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
						</p>
						
					</div>
								
					<p class="product-price-add">
						${{ product.price | money_without_currency }}
						<a href="#">Add to Cart</a>
					</p> 
	
				</form>
	
				<div class="see-more"><p>More {{ product.type | link_to_type }} &rarr;</p></div>			
			
		</div>
		
	</div>
	
</div>