<div class="product-page">
	
	<div class="content-inner">
		
		<div class="product-photos">
			<ul> 
				{% for image in product.images %}
					{% if forloop.first %}
				    <li>
				    	<a href="{{ image | product_img_url: 'large' }}" ><img src="{{ image | product_img_url: 'large' }}" width="480" /></a>
				    </li>
			    {% else %}
						<li><a href="{{ image | product_img_url: 'large' }}" class="fancybox" ><img  src="{{ image | product_img_url: 'small' }}" alt="{{ product.title | escape }}" /></a></li>
			    {% endif %}
		    {% endfor %} 
			</ul>
		</div>
			
		<div class="product-content">
			
				<h2>{{ product.title | escape }}</h2<>
				
			  {% if product.variants.size > 1 and product.options.size == 1  %}  
					
				  <form action="/cart/add" method="post">
				    <div id="product-variants">
				      <div class="selector-wrapper clearfix"> 
				        <label class="product-options">{{ product.options[0] }}</label>
				        <ul>
				          {% for variant in product.variants %}
				          <li>
				            <input type="radio" class="radio-button" data-price="{{ variant.price | money }}" id="{{ variant.id }}" value="{{ variant.id }}" name="id" {% if forloop.first %} checked {% endif %} >
				            <label class="radio-title" for="{{ variant.id }}">{{ variant.title }}</label>
				          </li>
				          {% endfor %}
				        </ul>
				      </div> 
				    </div>
						<div class="current-price">{{ variant.price | money }}</div>
						<input type="submit" class="large button main" name="add" value="Add to Shopping Cart" id="purchase" />
				  </form>

			  {% else %}  
				
				  <form action="/cart/add" method="post">
					  <div id="product-variants">
				    </div><!-- product variants -->  
				    <input  type="hidden" id="{{ variant.id }}" name="id" value="{{ product.variants[0].id }}" />
						<div class="current-price">{{ product.price | money_with_currency }}</div>
						<input type="submit" class="large button main" name="add" value="Add to Shopping Cart" id="purchase" />
				  </form>
					
			  {% endif %}
	
				<p>{{ product.description }} </p>
	
				<div class="see-more"><p>&lsaquo; See more {{ product.type | link_to_type }}. </p></div>			
			
		</div>
		
	</div>
	
</div>